package settings

import (
	"buckleberry/internal/linkding"
	"buckleberry/internal/shared"
	"buckleberry/internal/wallabag"
	"github.com/gofiber/fiber/v3"
)

templ SettingsView(settings *Settings, messages []fiber.FlashMessage, goodConnection bool) {
	@shared.Layout("Settings") {
		<h1>Buckleberry Settings</h1>
		if len(messages) > 0 {
			<ul>
				for _, msg := range(messages) {
					<li>{ msg.Value }</li>
				}
			</ul>
		}
		<h2>Status</h2>
		<ul>
			<li>
				<strong>Wallabag connection:</strong>
				if goodConnection {
					<span style="color: green">✅</span>
				} else {
					<span style="color: red">❌</span>
				}
			</li>
		</ul>
		{{
			data := map[string]bool{
				"useWallabag": settings.UseWallabag,
				"useLinkding": settings.UseLinkding,
			}
		}}
		<form method="POST" action="/settings" x-data={ templ.JSONString(data) }>
			<h2>Configuration</h2>
			<p>
				<label for="use-internal-epub-builder">Use Internal EPUB Builder</label>
				<input
					type="checkbox"
					name="use-internal-epub-builder"
					if settings != nil {
						checked?={ settings.UseInternalEpubBuilder }
					}
				/>
			</p>
			<p>
				<label>
					<input
						type="checkbox"
						name="use-wallabag"
						x-model="useWallabag"
					/>
					Connect to Wallabag?
				</label>
			</p>
			<div id="wallabag-settings" x-show="useWallabag">
				@wallabag.WallabagSettingsPartial(&settings.WallabagSettings)
			</div>
			<p>
				<label>
					<input
						type="checkbox"
						name="use-linkding"
						x-model="useLinkding"
					/>
					Connect to Linkding?
				</label>
			</p>
			<div id="linkding-settings" x-show="useLinkding">
				@linkding.LinkdingSettingsPartial(&settings.LinkdingSettings)
			</div>
			<input type="submit" value="Update settings"/>
		</form>
	}
}
