package settings

import (
	"buckleberry/internal/linkding"
	"buckleberry/internal/shared"
	"buckleberry/internal/wallabag"
	"github.com/gofiber/fiber/v3"
)

templ SettingsView(settings *Settings, messages []fiber.FlashMessage, wallabagConnected, linkdingConnected bool) {
	@shared.Layout("Settings") {
		<h1>Buckleberry Settings</h1>
		if len(messages) > 0 {
			<ul>
				for _, msg := range(messages) {
					<li>{ msg.Value }</li>
				}
			</ul>
		}
		<h2>Status</h2>
		<ul>
			if settings.UseWallabag {
				<li>
					<strong>Wallabag connection:</strong>
					if wallabagConnected {
						<span style="color: green">✅</span>
					} else {
						<span style="color: red">❌</span>
					}
				</li>
			}
			if settings.UseLinkding {
				<li>
					<strong>Linkding connection:</strong>
					if linkdingConnected {
						<span style="color: green">✅</span>
					} else {
						<span style="color: red">❌</span>
					}
				</li>
			}
		</ul>
		<form method="POST" action="/settings">
			<h2>Configuration</h2>
			@wallabag.WallabagSettingsPartial(&settings.WallabagSettings)
			@linkding.LinkdingSettingsPartial(&settings.LinkdingSettings)
			<input type="submit" value="Update settings"/>
		</form>
	}
}
