package onboarding

import (
	"buckleberry/internal/linkding"
	"buckleberry/internal/settings"
	"buckleberry/internal/shared"
	"buckleberry/internal/wallabag"
)

templ OnboardingView(settingsModel *settings.Settings, errorMsgs []string) {
	@shared.Layout("Onboarding") {
		<div>
			<h1>Welcome to Buckleberry!</h1>
			if len(errorMsgs) > 0 {
				<div>
					<ul>
						for _, msg := range errorMsgs {
							<li>{ msg }</li>
						}
					</ul>
				</div>
			}
			<form method="POST" action="/onboarding" x-data="{useWallabag: false, useLinkding: false}">
				<h2>Authentication</h2>
				<p>
					<label for="name">Username</label>
					<input
						type="text"
						name="username"
						placeholder="username"
						required
						if settingsModel != nil {
							value={ settingsModel.Username }
						}
					/>
				</p>
				<p>
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						placeholder="password"
						required
					/>
				</p>
				<p>
					<label for="password">Password</label>
					<input
						type="password"
						name="password-again"
						placeholder="repeat password"
						required
					/>
				</p>
				<p>
					<label>
						<input
							type="checkbox"
							name="use-wallabag"
							x-model="useWallabag"
						/>
						Connect to Wallabag?
					</label>
				</p>
				<div id="wallabag-container" x-show="useWallabag">
					@wallabag.WallabagSettingsPartial(nil)
				</div>
				<p>
					<label>
						<input
							type="checkbox"
							name="use-linkding"
							x-model="useLinkding"
						/>
						Connect to Linkding?
					</label>
				</p>
				<div id="linkding-container" x-show="useLinkding">
					@linkding.LinkdingSettingsPartial(nil)
				</div>
				<input type="submit" value="Get Started" x-bind:disabled="!useWallabag && !useLinkding"/>
			</form>
		</div>
	}
}
